{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="text-center">Welcome to the Homepage!</h1>
    {% for post in post_list %}
    <div class="card m-3 ">
        <div class="card-body bg-warning" style="--bs-bg-opacity: .5;">
            <h2 class="card-body">{{post.title}}</h2>
            <p class="card-text">{{post.content | slice:"200"}}</p>
            <p class="card-text">Author: {{post.author | title}}</p>
            <p class="card-text">Post Date: {{post.data_created}}</p>
            <a class="btn btn-primary" href="{% url 'blog_view' post.slug %}">Read More</a>
            </br>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
