{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="{% url 'translator_view' %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6 mt-3 left">
                <textarea class="form-control" rows="3" name="my_textarea">{{original_text}}</textarea>
            </div>
            <div class="col-sm-6 mt-3 left">
                <input class="btn btn-primary btn-sm" type="submit" value="Translate Now">
            </div>
            <div class="col-sm-6 mt-3 left">
                <label class="form-control" rows="3">{{output_text}}</label>
            </div>
        </div>
    </form>
</div>
{% endblock content %}